---

- name: disable qxl
  hosts:
    - routers
    - server
  gather_facts: yes
  become: yes
  tasks:
    - include_role:
        name: disable-qxl
      when: ansible_os_family == 'Debian'

- name: set up server
  hosts: server
  become: yes
  roles:
    - name: server
      telnet_port: "{{ telnet_port }}"
      flag: "{{ alice_flag }}"
      flag_2: "{{ root_flag }}"

- name: set up client
  hosts: windows-host
  become: no
  roles:
    - name: user-access
      user_access_username: user
      user_access_password: Password123
      user_access_sudo: False
    - name: client

- name: set up command logging
  hosts: server
  become: yes
  roles:
    - role: sandbox-logging
      slf_destination_port: '{% if hostvars["man"] is defined -%} 514 {%- else -%} 515 {%- endif %}'

...
